/* 
    Created on : 12 April 2018
    Author     : Tony Evans
    Description: CSS for JSIngo simulation pane
*/
/* CSS layout */
body {
	margin: 0;
	padding: 0;
	background-color: #000080;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial, sans-serif";
	font-size: 15px;
	color: #FAFAD2;
}
.maintext {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 25px;
        padding-right: 25px;
	text-align: justify;
	width: 80%
}

#simarea {
    text-align: center;
    background-color: #FFFFFF;
}

#canvasid {
    margin: 0;
    position: relative;
  
}
#layer2 {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
}
#layer1 {
    top: 0;
    left: 0;
    position: relative;
    z-index: 1;
}
#ctlbuttons {
    position: fixed;
    top: 10px;
    text-align: center;
    z-index: 99;
    width: 100%;
    touch-action: none;
    user-select: none;
}

.button {
    width: 50px;
    background-color: #111133;
    font-size: 18px;
    font-weight: bold;
    padding: 4px 4px;
    border-radius: 4px;
    border: 1px solid #666600;
    } 
    
.button:hover {background-color: #111177;}
    
.button2 {
    width: 80px;
    background-color: #ccffcc;
    font-size: 14px;
    padding: 8px 8px;
    border-radius: 4px;
    border: 1px solid #66aa66;
}

.button2:hover {background-color: #aaddaa;}
